{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}

<article class=" mw8 center ph3">
    <div class="nested-copy-line-height mw7 center lh-copy {{ $.Param "post_content_classes"  | default "serif"}} f4 nested-links nested-img mid-gray">
        {{ range (.Site.RegularPages.GroupByDate "2006") }}
            {{ range (where .Pages "Type" "post") }}
            <div class="flex flex-column flex-row-ns" style="margin: 15px 0 15px 0;">
                <div class="blah w-100 pl3-ns">
                    <a href="{{ .RelPermalink }}" class="my-link archives-link">
                        <h5 style="flex: 1 1 0%; margin: 0;">{{ .Title }}</h1>
                        <div style="font-size: .875rem;">{{ .PublishDate.Format "Jan 02, 2006" }}</div>
                    </a>
                </div>
            </div>
            <hr>
            {{ end }}
        {{ end }}
    </div>
</article>
{{ end }}