{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}

<article class=" mw8 center ph3">
    <div class="nested-copy-line-height lh-copy {{ $.Param "post_content_classes"  | default "serif"}} f4 nested-links nested-img mid-gray">
        {{ range (.Site.RegularPages.GroupByDate "2006") }}
        {{ if ne .Key "0001" }}
            <h3>{{ .Key }}</h3>
        {{ end }}
        
        <ul class="archive-list">
            {{ range (where .Pages "Type" "post") }}
            <div class="flex flex-column flex-row-ns" style="margin-top: 20px;">
                {{ $featured_image := .Params.featured_image }}
                    <div class="pr3-ns mb4 mb0-ns w-100 w-20-ns">
                        <a href="{{.Permalink}}" class="db grow">
                            <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
                        </a>
                    </div>
                <div class="blah w-100 w-60-ns pl3-ns">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    <br>
                    <i class="fas fa-calendar"></i>
                    {{ .PublishDate.Format "2006-01-02" }}
                </div>
            </div>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</article>
{{ end }}